/*
Theme Name: sustainability_theme
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sustainability_theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

sustainability_theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
## TNC STYLES ##
# Homepage Header
# Homepage Footer
# Homepage
# Homepage Popup
# Filter Page Header
# Filter page
# Post Page

## UNDERSCORE STYLES ##
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries

## SLICK STYLES ##
# Arrows
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# TNC STYLES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.notouch {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

* {
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------------------
# Homepage Header
--------------------------------------------------------------*/
#masthead.homepage,
#masthead.funding,
#masthead.resources,
#masthead.who-we-are {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

#masthead.homepage nav#site-navigation ul li a,
#masthead.funding nav#site-navigation ul li a,
#masthead.resources nav#site-navigation ul li a,
#masthead.who-we-are nav#site-navigation ul li a {
    color: #FFFFFF;
    border: 2px transparent;
}
#masthead.homepage nav#site-navigation ul li a:hover,
#masthead.funding nav#site-navigation ul li a:hover,
#masthead.resources nav#site-navigation ul li a:hover,
#masthead.who-we-are nav#site-navigation ul li a:hover{
    border-bottom: 1px solid white;
}
#masthead.homepage nav#site-navigation ul .nav-button-home a:hover,
#masthead.funding nav#site-navigation ul .nav-button-home a:hover,
#masthead.resources nav#site-navigation ul .nav-button-home a:hover,
#masthead.who-we-are nav#site-navigation ul .nav-button-home a:hover{
    border-bottom: 0;
    color: white;
}
#masthead.homepage nav#site-navigation ul li a.nav-button-home-text,
#masthead.funding nav#site-navigation ul li a.nav-button-home-text,
#masthead.resources nav#site-navigation ul li a.nav-button-home-text,
#masthead.who-we-are nav#site-navigation ul li a.nav-button-home-text{
    color: #3a89b4;
}
#masthead.homepage.scrolled nav#site-navigation ul li .nav-button-home,
#masthead.funding.scrolled nav#site-navigation ul li .nav-button-home,
#masthead.resources.scrolled nav#site-navigation ul li .nav-button-home,
#masthead.who-we-are.scrolled nav#site-navigation ul li .nav-button-home{
    background-color: #3a89b4;
}
#masthead.homepage.scrolled nav#site-navigation ul li a:hover,
#masthead.funding.scrolled nav#site-navigation ul li a:hover,
#masthead.resources.scrolled nav#site-navigation ul li a:hover,
#masthead.who-we-are.scrolled nav#site-navigation ul li a:hover{
    border-bottom: 1px solid black;
}
header#masthead.homepage,
header#masthead.funding,
header#masthead.resources,
header#masthead.who-we-are {
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 20px 20px 10px;
}

header#masthead.homepage.scrolled,
header#masthead.funding.scrolled,
header#masthead.resources.scrolled,
header#masthead.who-we-are.scrolled{
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    padding: 20px 20px 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 1px 5px 0 rgba(105, 105, 105, 0.25);
    -moz-box-shadow: 0 1px 5px 0 rgba(105, 105, 105, 0.25);
    box-shadow: 0 1px 5px 0 rgba(105, 105, 105, 0.25);
}

header#masthead.homepage.scrolled nav#site-navigation ul li a,
header#masthead.funding.scrolled nav#site-navigation ul li a,
header#masthead.resources.scrolled nav#site-navigation ul li a,
header#masthead.who-we-are.scrolled nav#site-navigation ul li a{
    color: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

section#hero.individual-page{
    width: 100%;
    color: #ffffff;
    height: 40vh;
    text-align: center;
    /*padding-top: 175px;*/
    z-index: 1;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-image: url(./images/SplashLandscapeDark.jpg);
    background-position: center;
}
.page-title {
    text-align: center;
    padding: 20px 20px;
    background-color: #3a89b4;
    margin: 0 auto;
    color: white;
}
#post-684 .entry-header, #post-677 .entry-header, #post-347 .entry-header, #post-314 .entry-header  {
    display: none;
}

#masthead nav#site-navigation ul li {
    padding: 10px;
    margin-left: 30px;
    border: 2px solid transparent;
}

#masthead nav#site-navigation ul li a:hover {
    border-bottom: 1px solid black;
}
#masthead nav#site-navigation ul .nav-button a:hover {
    border-bottom: 0;
}
.nav-button-home:hover {
    background-color: #b7dee0;
    /*border: 2px solid white !important;*/
    color: #3a89b4;
}

.nav-button {
    background-color: #3a89b4;
    color: white;
    font-family: Open Sans, sans-serif;
    font-size: 95%;
    font-weight: 600;
}

.nav-button:hover {
    background-color: #b7dee0;
    color: black;
}

.nav-button-home {
    background-color: white;
    font-family: Open Sans, sans-serif;
    font-size: 95%;
    font-weight: 600;
    color: #3a89b4;
}

.scrolled .nav-button-home {
    background-color: #3a89b4;
    color: white;
}
.scrolled .nav-button-home:hover {
    background-color: #b7dee0;
    color: black;
}


/*--------------------------------------------------------------
# Homepage Footer
--------------------------------------------------------------*/
footer {
    background-color: #e4e6d7;
    /*height: 225px;*/
    padding: 30px 20px;
}
.sasaki-logo img {
    height: 50px !important;
}
.kresge-logo img {
    padding: 0;
    max-width: initial;
}

.footer-column-right {
    text-align: right;
    vertical-align: top;
    width: 19%;
    display: inline-block;
}
.footer-column-left {
    text-align: left;
    vertical-align: top;
    width: 80%;
    display: inline-block;
}
.footer-column-left h4, .footer-column-right h4 {
    margin-top: 0;
}
.footer-column-left a {
    text-decoration: none;
    color: #404040;
}
.footer-column-left a h4:hover {
    color:#3a89b4;

}

.footer-container {
    width: 80%;
    margin: auto;
}

.footer-text {
    font-size: 85%;
}

#logos {
    margin: 15px 0;
    display: inline-block;
}

#logos img {
    height: 50px;
    width: auto;
    padding: 15px 15px 0 0;
    filter: grayscale(1);
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
.home #content.site-content,
.error404 #content.site-content,
.page #content.site-content,
.page-id-347 .site #content.site-content,
.page-id-677 .site #content.site-content,
.page-id-684 .site #content.site-content,
.page-id-314 .site #content.site-content {
    padding-top: 0;
    margin-bottom: 0;
}

#content.site-content {
    padding-top: 75px;
    margin: 0 auto;
}

.blog #content.site-content {
    padding-top: 75px;
    max-width: 1280px;
    margin: 0 auto;
}

.centered-max-width {
    max-width: 1024px;
    margin: 0 auto;
}

section h2 {
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.home section#hero {
    background-image: url(./images/SplashLandscapeDark.jpg) !important;
    width: 100%;
    color: #ffffff;
    min-height: 550px;
    height: 80vh;
    text-align: center;
    padding-top: 175px;
    z-index: 1;
    position: relative;
    background: #989482 no-repeat;
    overflow: hidden;
    background-size: cover;
}

.home section#hero h1 {
    margin: 0 auto;
    font-size: 64px;
    font-weight: 700;
    max-width: 650px;
    text-align: center;
    font-family: Raleway, Open Sans, sans-serif;
}

.home section#hero p {
    width: 750px;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 40px;
    font-weight: 300;
}

.scroll-down-text {
    text-align: center;
    margin-top: 10px;
    display: block;
    /* width: 32px; */
    height: 32px;
    color: white;
    /*-webkit-animation: bounce 2s infinite 2s;*/
    /*animation: bounce 2s infinite 2s;*/
    /*-webkit-transition: all .2s ease-in;*/
    transition: all .2s ease-in;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;

}

.scroll-down-text:hover, .scroll-down-text:visited {
    color: white;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
    /*border: 2px solid #FFF;*/
    background-size: 100% 100%;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-image: url(./images/scroll-down-01.png);
    position: absolute;
    bottom: 50px;
    right: calc(50% - 25px);
}

/*.scroll-down:before {*/
    /*position: absolute;*/
    /*top: calc(50% - 13px);*/
    /*left: calc(50% - 10px);*/
    /*transform: rotate(-45deg);*/
    /*display: block;*/
    /*width: 21px;*/
    /*height: 21px;*/
    /*content: "";*/
    /*border: solid #2e8ab2;*/
    /*border-width: 0 0 3px 3px;*/
/*}*/

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

section#hero p a {
    color: #FFFFFF;
    font-weight: bold;
}

section#quote {
    background-color: #989482;
    text-align: center;
    /*transform: skewY(-1.5deg);*/
    /*margin-top: -40px;*/
    z-index: -1;
    padding: 50px 20px;
}

section#quote .slick-slider {
    /*transform: skewY(1.5deg);*/
    margin-bottom: 0;
}

section#quote .slick-slider .slick-prev:before, section#quote .slick-slider .slick-next:before {
    background-color: #989482;
    font-size: 48px;
}

.slick-slider .slick-prev {
    left: 50px;
    z-index: 90;
    box-shadow: none;
}

.slick-slider .slick-next {
    right: 50px;
    z-index: 90;
    box-shadow: none;
}

section#quote button {
    box-shadow: none;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}

.slick-dots li button:before{
    opacity: .4 !important;
}

.slick-dots li button:before, .slick-dots li button {
    font-family: 'slick', Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before, .slick-dots li.slick-active button {
    font-family: 'slick', Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}

section#quote p {
    font-family: 'Lusitana', sans-serif;
    font-size: 24px;
    color: white;
    padding: 0 200px;
    margin: 0;
    font-weight: normal;
}

section#quote em {
    font-size: 14px;
    color: white;
    margin: 5px auto 0;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
}

section#infographic:focus {
    outline: none;
}

section#infographic .intro_text{
    text-align: left;
    margin-left: 10%;
}

section#infographic #overview, section#infographic #urban {
    display: block;
    width: 100%;
}

section#infographic #overview {
    /*min-height: 305px;*/
    /*margin-top: -200px;*/
    max-width: 95%;
    min-height: 305px;
    background-position: center 260%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/161209_Interactive-Map_Illustrative-80P_web.png);
}

section#infographic #urban {
    opacity: 0;
    max-width: 95%;
    height: 1px;
    background-position: center 260%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/03_Urban-02_v4-01_update.png);
}

section#infographic {
    text-align: center;
    padding: 50px 20px;
}

section#infographic .labels ul {
    display: inline-block;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 100%;
}

section#infographic h2 {
    margin: 0 0 50px;
}

section#infographic .labels {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

section#infographic .landscape-button {
    /*flex: 1;*/
}

section#infographic .labels li.submenu ul {
    display: none;
}

section#infographic .labels a.submenu {
    text-decoration: none;
    font-size: 90%;
    font-weight: 600;
    color: #404040;
}

section#infographic .labels li.submenu {
    margin-bottom: 3px;
}

section#infographic .labels li.submenu a.submenu span {
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

section#infographic .labels li.submenu ul {
    padding: 0;
    margin: 0;
}

section#infographic .labels li.submenu ul li {
    padding-left: 10px;
}

section#infographic .labels .header_button {
    color: white;
    background-color: #e39717;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 10px;
}

section#infographic .labels .header_button a {
    font-family: Raleway, Open Sans, sans-serif;
    color: white;
    text-decoration: none;
    /*padding: 10px 20px;*/
}

section#infographic .labels .header_button:hover, section#infographic .labels .header_button .selected-system  {
    background-color: #b48724;
    color: #FFFFFF;
}

section#infographic a.hazard_label {
    display: inline-block;
    margin: 2px 0;
    text-decoration: underline;
    color: #404040;
    font-size: 85%;
}

section#infographic a.hazard_label:hover {
    display: inline-block;
    margin: 2px 0;
    text-decoration: underline;
    color: #404040;
    font-weight: 600;
}

section#infographic a.hazard_label.selected-hazard {
    display: inline-block;
    margin: 2px 0;
    text-decoration: underline;
    color: #3a89b4;
    font-weight: 600;

}

section#what-is {
    padding: 50px 20px;
    background-color: #3a89b4;
    color: white;
}

section#callouts {
    /*background-color: #f4f7f4;*/
    padding: 50px 20px;
}
.callout {
    cursor: pointer;
    width: 20%;
}

.callout:hover{
    color: #3789b6;
}


section#callouts p, section#what-is p, section#getstarted p {
    max-width: 50%;
    margin: 0 auto;
    font-size: 130%;
    text-align: center;
}

section#callouts h2, section#what-is h2 {
    text-align: center;
    /*font-size: 22px;*/
    margin: 0;
}

.callout .copy h4 {
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}

section#callouts .row, section#what-is .row {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

section#callouts .callout:first-of-type {
    text-align: left;
    display: inline-block;
    padding-right: 30px;
    margin-left: 30px;
}

section#callouts .callout {
    text-align: left;
    display: inline-block;
    padding-right: 30px;
}

section#callouts .callout .copy {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    text-align: center;
}

section#callouts .callout .copy h4 a {
    color: #3a89b4;
    margin: 0 0 5px;
    text-decoration: none;
    font-family: Raleway, Open Sans, sans-serif;
    font-size: 130%;
    font-weight: 700;
}

section#callouts .icon {
    /*display: inline-block;*/
    width: 150px;
    /*height: 100px;*/
    margin: auto;
}

/*section#callouts #ecological {*/
    /*background-size: cover;*/
    /*background: url('images/ecological.png') no-repeat;*/
/*}*/

/*section#callouts #economic {*/
    /*background-size: cover;*/
    /*background: url('images/economic.png') no-repeat;*/
/*}*/

/*section#callouts #health {*/
    /*background-size: cover;*/
    /*background: url('images/health.png') no-repeat;*/
/*}*/

/*section#callouts #social {*/
    /*background-size: cover;*/
    /*background: url('images/social.png') no-repeat;*/
/*}*/

section#casestudy {
    padding: 0;
    margin: 0 0 -7px 0;
    height: 600px;
    position: relative;
    background-color: #989482;
}

.slick-dots li.slick-active button:before{
    font-size: 15px !important;
    opacity: 1 !important;
}

.slick-dots li button::before{
    font-size: 15px !important;
}
.slick-dots {
    position: relative !important;
    bottom: 0 !important;
}
.slick-dots li {
    margin: 0 3px;
}
.slick-list {
    padding: 0 0 15px 0 !important;
}

section#casestudy .featured-slick .featured-slide {
    position: relative;
    height: 600px;
    overflow: hidden;
}

section#casestudy ul.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}


section#casestudy div.case-study-more {
    font-size: 95%;
    color: white;
    text-decoration: underline;
    margin:auto;
    text-align: center
}

section#casestudy div.case-study-more a {
    font-size: 95%;
    color: white;
    text-decoration: underline;
    margin:auto;
    text-align: center
}

section#casestudy img {
    height: inherit;
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

section#casestudy h1 {
    margin-bottom: 25px;
    margin-top: -10px;
}

section#casestudy h2 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -63px;
}

section#casestudy .blurb {
    padding: 20px 20px;
    color: #FFFFFF;
    width: 325px;
    position: absolute;
    bottom: 0;
    background-color: #afb087;
}

section#casestudy img {
    width: 100%;
    height: auto;
}

section#casestudy .blurb h1 a {
    border: none;
    padding: 5px 20px;
    display: block;
    text-align: center;
    color: white;
    font-size: 21px;
    text-decoration: underline;
    border-radius: 3px;
    margin: auto;
    width: 100%;
    transition: all 0.25s;
}

section#casestudy .blurb h1 a:hover {
    border: none;
    padding: 5px 20px;
    display: block;
    text-align: center;
    color: #e4e6d7;
    font-size: 21px;
    text-decoration: underline;
    border-radius: 3px;
    margin: auto;
    width: 100%;
}

section#casestudy .blurb h4 {
    font-size: 21px;
    margin: 2px 0 2px 0;
}

section#casestudy .blurb p {
    margin: 0 0 10px 0;
}

/*section#casestudy .blurb p*/
section#casestudy .blurb a.case-studies-link {
    width: 200px;
    border: 2px solid #FFFFFF;
    padding: 5px 20px;
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
}

section#getstarted {
    background-color: #3a89b4;
    text-align: center;
    min-height: 300px;
    color: #FFFFFF;
    padding: 50px 20px;
}

section#getstarted h2 {
    text-align: center;
    padding-bottom: 20px;
    max-width: 550px;
    font-weight: 700;
    margin: auto;
}

section#getstarted p {
    text-align: center;
    padding-bottom: 40px;
    max-width: 550px;
    margin: auto;

}

section#getstarted a {
    width: 25%;
    padding: 10px;
    display: block;
    background-color: #FFFFFF;
    color: #3a89b4;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    margin: auto;
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

section#getstarted a:hover {
    background-color: #b7dee0;
}

/* Funding Pop-Up */
#funding_popup.opened {
    display: block;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

#funding_popup {
    display: none;
}

#funding_popup .bg_container {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
}

#funding_popup .content-container {
    display: block;
    background-color: rgb(250, 250, 250);
    margin: 0 120px 0;
    z-index: 1001;
    border: 5px solid #e8e8e8;
    width: 600px;
    height: 600px;
    top: 15px;
    left: 0;
    right: 0;
    position: absolute;
    padding: 40px 20px 20px;
}

.content-container .container {
    overflow-y: scroll;
    height: 540px;
}

body.modal_opened {
    overflow: hidden;
}

.container h5 {
    margin-bottom: 0;
}

.container ul, .container ul li {
    margin: 0 0 0.25em 0;
}

#primary.items{
    display: table-cell;
    padding-top: 20px;
}

#primary.page{
    max-width: 800px;
    margin: 0 auto;
}

/*--------------------------------------------------------------
# Filter Page Header
--------------------------------------------------------------*/

header#masthead {
    width: 100%;
    background-color: rgba(228,230,215, 0.9);
    position: fixed;
    z-index: 2000;
    color: black;
    padding: 20px 20px 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header#masthead a {
    float: left;
}

header#masthead .logo {
    background-size: 310px 24px !important;
    height: 35px;
    width: 315px;
    margin-top: 5px;
    background: url('images/FINAL_logo_HORIZONTAL.png') no-repeat;
}

header#masthead .logo.top {
    background: url('images/FINAL_logo_HORIZONTAL_knockout.png') no-repeat;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 10px;
    background-color: #3a89b4;
    border: 2px solid white;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

.navbar-toggle.open{
    background-color: #b7dee0;
    border: 2px solid #696969;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-toggle.open .icon-bar {
    border: 2px solid #696969;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 2px;
    border: 2px solid white;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

nav#site-navigation {
    float: right;
    margin-top: 3px;
    margin-right: 50px;
}

nav#mobile-navigation {
    display: none;
}

nav#site-navigation ul li {
    margin: 0 5px;
    top: -6px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 95%;
}

nav#site-navigation .social {
    display: none;
    position: fixed;
    top: 60px;
    right: 70px;
}

nav#mobile-navigation .social {
    display: none;
    position: relative;
    top: 140px;
    right: -20px;
    float: left;
}

header#masthead.homepage {
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 20px 20px 10px;
}

header#masthead.homepage.scrolled {
    background-color: rgba(228,230,215,0.9);
    color: black;
    padding: 20px 20px 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 1px 5px 0 rgba(105, 105, 105, 0.25);
    -moz-box-shadow: 0 1px 5px 0 rgba(105, 105, 105, 0.25);
    box-shadow: 0 1px 5px 0 rgba(105, 105, 105, 0.25);
}

header#masthead.homepage.scrolled nav#site-navigation ul li a {
    color: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site-branding {
    float: left;
}

p.site-title {
    margin: 0;
}

#content {
    margin-top: 20px;
}

.facetwp-loading {
    display: none !important;
}

/*--------------------------------------------------------------
# Filter Page
--------------------------------------------------------------*/

/* Hazard Pop-Up */

#hazard_popup {
    position: absolute;
    display: none;
    max-width: 1280px;
    background-color: rgba(240,203,124,0.9);
    width: 80%;
    z-index: 100;
    right: 0;
    margin: 75px auto;
    /*border-top: 1px solid #c1c1c1;*/
    /*border-right: 1px solid #c1c1c1;*/
    /*border-bottom: 1px solid #c1c1c1;*/
    padding: 30px 25px 45px 25px;
}
#hazard_popup.container h2 {
    text-align: left;
    padding-bottom: 15px;
}

.hazard {
    width: 30%;
    /*float: right;*/
    padding: 0 15px;
    height: 325px;
    background-color: white;
    margin: 5px 5px;
    /*border: 1px solid rgba(158, 158, 158, 0.44);*/
    max-width: 325px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}


.hazard .image {
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
}

.hazard h4 {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.hazard p {
    font-size: 90%;
}

#hazard_popup p {
    margin: 20px 0;
}

#hazard_popup h2 {
    margin: 0 0 15px 15px;
}

.select-container {
    width: 75px;
    height: 25px;
    bottom: 0;
    right: 0;
    position: absolute;
    /*background-color: #e29616;*/
    color: black;
    padding: 0;
    border: none;
}

.hazard .facetwp-checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    padding: 0;
    float: right;
    display: inline-block;
    right: 10px;
    top: 0;
}

span.hazard_select {
    top: 5px;
    float: right;
    position: relative;
    font-size: 80%;
    right: 8px;
    font-weight: 600;
}

.bg_container.modal_opened {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    width: 100%;
    height: 100%;
}

#hazard_popup .container {
    display: block;
    text-align: left;
    width: 100%;
}

.hazards-button {
    padding: 15px;
    float: right;
    width: 32%;
    margin: 25px 5px 5px 5px;
    color: white;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.5s;
    background-color: #e39717;
    cursor: pointer;
}
.hazards-button:hover {
    background-color: #b48724;
    color: white;
}

a.hazard_button {
    padding: 15px 20px;
    display: block;
    color: #e39717;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    text-decoration: none;
    /*border-radius: 3px;*/
    /*margin: auto;*/
    transition: all 0.5s;
    background-color: white;
}

a.hazard_button:hover {
    background-color: #f0cb7c;
    color: #e39717;
}

a.hazard_button.opened{
    background-color: #b48724;
    color: white;
}
a.hazard_button.opened:focus, a.hazard_button.opened:active {
    color: white;
}
a.hazard_button:focus, a.hazard_button:active {
    color: #e39717;
}

#hazards-submit:hover {
    color: #FFFFFF;
    background-color: #b48724;
    transition: all 0.5s;
    /* right: 10px; */
    /* position: absolute; */
}

#hazards-submit {
    font: 18px/100% arial, sans-serif;
    /*position: absolute;*/
    /*right: 25px;*/
    text-decoration: none;
    text-shadow: initial;
    /*bottom: 5px;*/
    top: 94%;
    font-weight: 600;
    margin-bottom: 0;
}

#hazards-submit.close {
    color: white;
}

#hazards-submit:after {
    content: '';
}

#filter_container {
    width: 20%;
    margin: 0;
    display: table-cell;
    z-index: 2;
    position: relative;
    vertical-align: top;
    background-color: white;
    padding: 75px 0 25px 0;
}

#filter_container h2 {
    font-family: Raleway, Open Sans,sans-serif;
    width: 190px;
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 5px;
    text-align: left;
}

.filter_all{
    text-align: left;
    margin: 10px 25px;
    /*border-bottom: 1px solid black;*/
}
.filter_all a {
    color: #404040;
    text-transform: uppercase;
    padding: 15px 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    text-decoration: none;
    /* border-radius: 3px; */
    /* margin: auto; */
    transition: all 0.5s;
    background-color: #b7dee0;
}
.filter_all a:hover {
    color: black;
    background-color: #3a89b4;
}
.filter_all span{
    margin: 0 3px;
}
.page-title.error {
    padding: 50px 0;
}
.error-text {
    text-align: center;
}
/*.error-menu {*/
    /*display:flex;*/
    /*justify-content: center;*/
/*}*/
.error-button {
    width: 20%;
    margin: 30px auto;
}

.error-button a {
    flex: 1;
}

.hazard-button {
    background-color: #e39717;
    margin-bottom: -15px;
    padding: 15px 25px;
}
.secondary.widget-area {
    padding-top: 15px;
}
#text-3 {
    background-color: #e39717;
    padding: 0 25px 15px 25px;
    margin: 0;
    color: white;
}
.facetwp-facet {
    margin-bottom: 0 !important;
}

h2.widget-title a.learn_more {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: none;
    color: #3a89b4;
}

.close {
    color: #777;
    font: 24px/100% arial, sans-serif;
    font-weight: 700;
    /*position: absolute;*/
    /*right: 30px;*/
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    /*top: 30px;*/
}

.close:after {
    content: '✕'; /* UTF-8 symbol */
    float: right;
    margin-right: 5px;
}


/* Search box */
span.facetwp-counter {
    display: none;
}

h3.filter_header {
    margin: 20px auto;
    font-weight: lighter;
    max-width: 1280px;
}

#filter_button{
    display: none;
    text-align: center;
    width: 50%;
    padding: 5px;
    border-radius: 20px;
    background-color: #3a89b4;
    margin: 20px auto;
    color: #FFFFFF;
}

h2.widget-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    font-family: Raleway, Open Sans, sans-serif;
    text-align: left;
    padding-bottom: 5px;
    text-transform: none;
}

.hazard-legend-sidebar section {
    width: 25%;
}

.hazard-legend-sidebar {
    padding-top: 0 !important;
}

span.legend {
    font-size: 9px;
    padding: 3px 3px;
    display: inline-block;
    margin: 0 3px 1px 0;
    background-color: #3a89b4;
    color: white;
    font-weight: 600;
}

.tags {
    text-align: left;
}

span.legend.inactive {
    background-color: lightgray;
    color: whitesmoke;

}

section.legend span.coastal {
    background-color: rgb(195, 172, 80);
}

section.legend span.riverine, section.legend span.coastal, section.legend span.urban {
    background-color: rgb(0, 0, 0);
}

section.legend span.urban {
    background-color: rgb(150, 150, 150);
}

.legend.coastal {
    background-color: #e39717;
}

.legend.riverineflood {
    background-color: #e39717;
}

.legend.riverineerosion {
    background-color: #e39717;
}

.legend.stormsurge {
    background-color: #e39717;
}

.legend.stormwater {
    background-color: #e39717;
}

.legend.tidal {
    background-color: #e39717;
}

.widget-area section {
    margin: 25px;
}


/* Results box */
div.tabs{
    margin: 0 0 0 0;
    height: 55px;
    position: relative;
    z-index: 3;
}

div.tabs .spacer{
    width: 25%;
    float: left;
    height: 55px;
}

ul.tabs {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

ul.tabs a:focus, ul.tabs a{
    outline: 0;
}

ul.tabs a.active li span.title {
    color: #5c5c5c;
}

ul.tabs a li span.title {
    color: #ababab;
    font-size: 20px;
    font-weight: bold;
}

ul.tabs li span.results {
    color: #3a89b4;
    font-size: 14px;
    font-style: italic;
    height: 17px;
}

ul.tabs a.active li {
    background-color: white;
    cursor: default;
}

ul.tabs a.solutions.active li {
    border-top: 2px solid #3a89b4;
    border-right: 2px solid #3a89b4;
    border-left: 2px solid #3a89b4;
    border-radius: 3px;
}

ul.tabs a.case_studies.active li {
    border-top: 2px solid #a0c04d;
    border-right: 2px solid #a0c04d;
    border-left: 2px solid #a0c04d;
    border-radius: 3px;
}

.blog .site .site-content .bg_container {
    padding-top: 50px;
}


ul.tabs li {
    text-align: left;
    display: inline-block;
    float: left;
    /*background-color: rgb(250, 250, 250);*/
    padding: 10px 20px 8px;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    /*margin: 0 20px;*/
    width: 20%;
}
.tabs .solutions {
    /*margin-right: 30px;*/
}

ul.tabs .solutions.active li span.title {
    color: #3a89b4;
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

ul.tabs .solutions li span.title:hover {
    color: #3a89b4;
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

ul.tabs a li span.title {
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

ul.tabs .case_studies.active li span.title {
    color: #a0c04d;
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

ul.tabs .case_studies li span.title:hover {
    color: #a0c04d;
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

ul.tabs li span.results {
    display: block;
    color: #666;
    font-size: 12px;
    font-style: normal;
}
ul.tabs li span.results:hover {
    color: #666;
    cursor: default;
}

.post-layout {
    max-width: 1280px;
    margin: 0 auto;
}

.item_container {
    position: relative;
    display: table;
}

.search_container {
    text-align: center;
    margin: 0;
    min-height: 900px;
    position: relative;
    z-index: 1;
    top: -2px;
}

.search_container article {
    float: left;
    vertical-align: top;
    width: 33%;
    display: table-cell;
    position: relative;
    z-index: 1;
    height: 325px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search_container article:hover{
    z-index: 50;
}

.search_container article .container {
    border: 1px solid transparent;
}

.search_container article.mouseover .hover {
    display: block;
    padding: 0 0 15px 0;
    height: 325px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search_container .category-strategy .hover .entry-header h2 {
    color: #3a89b4;
}

.search_container .category-case-study .hover .entry-header h2 {
    color: #A0C04D;
}

.entry-header h2, .entry-header h2 a {
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    text-transform: none;
}

.search_container{
    float: left;
}

.search_container .hover {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 50;
}
.search_container #solutions_container {
    border: 2px solid #3a89b4;
}

.search_container #case_studies_container {
    border: 2px solid #a0c04d;
}

.search_container .category-strategy.hover {
    border: 1px solid transparent;
    /*box-shadow: 1px 1px 2px 1px rgba(120, 120, 120, 0.4);*/
    /*background: rgba(58,137,180,0.1);*/
    background: rgba(228,230,215,0.6);
}

.search_container .category-case-study.hover {
    border: 1px solid transparent;
    /*box-shadow: 1px 1px 2px 1px rgba(120, 120, 120, 0.4);*/
    /*background: rgba(160,192,77,0.1);*/
    background: rgba(228,230,215,0.5);
}

.search_container .hover .thumbnail img{
    z-index: 1;
}

.search_container article .thumbnail {
    height: 175px;
    width: 100%;
    padding: 15px 15px 0;
    overflow: hidden;
    text-align: left;
    z-index: -1;
}

.search_container article .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search_container article .tags-container {
    padding: 0 15px;
}

.search_container .row {
    display: table-row;
}

.search_container article h2.entry-title {
    text-align: left;
    /*text-transform: uppercase;*/
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 0 15px;
    padding-bottom: 3px;
    margin: 0;
    margin-top: 7px;
    font-weight: 700;
    font-family: Raleway, Open Sans, sans-serif;
}

.search_container article h2.entry-title a {
    text-decoration: none;
    color: black;
}

.search_container article .entry-content p {
    text-align: left;
    margin: 0;
}

.search_container article .entry-content a {
    color: black;
}

.search_container article .entry-content {
    padding: 5px 15px;
    text-align: left;
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;

}

.entry-content.hover {
    position: absolute;
    width: 22%;
    text-align: left;
    display: none;
}

.search_container #solutions_container, .search_container #case_studies_container {
    width: 100%;
    table-layout: fixed;
    display: table;
}

.search_container #case_studies_container {
    display: none;
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

.logos-container {
    width: 90%;
    margin: auto;
}
.about-logos img {
    max-width: 30%;
    padding: 10px;
}

/*--------------------------------------------------------------
# Post Page
--------------------------------------------------------------*/

#main.post .hero {
    text-align: center;
    height: 550px;
    position: relative;
    overflow: hidden;
    background-size: cover !important;
    background: gray center center;
    background-repeat: no-repeat;
}

.cases {
    margin-top: 25px;
}
.chicklets {
    height: 24px;
}
.stButton {
    margin-left: 5px;
    margin-right: 5px;
}
.social-icons {
    margin: 0.25em 0 2.25em 0;
}

#main.post .hero .caption, #main #hero .caption {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(75, 75, 75, 0.5);
    font-size: 75%;
    font-style: italic;
    color: white;
    padding: 2px 5px;
}

#main.post .hero img {
    vertical-align: bottom;
    width: auto;
    /*height: 500px;*/
}

#main.post .container .sidebar img.axon{
    width: 200px;
    height: 200px;
    margin: 0 0 10px -20px;
}

#main.post .container .sidebar {
    margin-left: 50px;
    vertical-align: top;
    padding: 0 10px;
    width: 20%;
    float: left;
}
#main.post .container .related {
    margin-right: 50px;
    vertical-align: top;
    padding: 0 10px;
    width: 20%;
    float: right;
}

#main.post .container .related, #main.post .container .sidebar{
    margin-top: 25px;
}

#main.post .container .related .download-pdf .pdf_button{
    width: 90%;
    padding: 10px 20px;
    display: block;
    color: white;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    margin: 0 0 20px 0;
    transition: all 0.5s;
    background-color: #3a89b4;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}


#main.post .container .related .download-pdf .pdf_button.inactive{
    opacity: 0.60;
    cursor: not-allowed;
    background-color: grey;
}

#main.post .container.strategy .sidebar h4,
#main.post .container.strategy .related h4 {
    color: #3a89b4;
    margin: 0 0 5px 0;
    font-family: Raleway, Open Sans, sans-serif;
    font-weight: 700;
    /*text-transform: uppercase;*/
    font-size: 16px;
}

#main.post .container.case_study .sidebar h4,
#main.post .container.case_study .related h4 {
    color: #a0c04d;
    margin: 0;
    font-size: 16px;
}


#main.post .container .sidebar ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

#main.post .container .sidebar ul li {
    color: black;
}

#main.post .container .sidebar ul li span {
    color: lightgray;
}

#main.post .container .copy h1 {
    font-family: Raleway, Open Sans, sans-serif;
    text-transform: none;
    font-weight: 700;
    font-size: 40px;
}

#main.post .container .copy p {
    margin: 0 0 15px 0;
    line-height: 1.5;
}

#main.post .container .copy p b{
    display: block;
    margin: 20px 0 -10px 0;
}

#main.post .container .copy {
    vertical-align: top;
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

#main.post .container p span {
    overflow-wrap: break-word;
}

#main.post .container .related {
    vertical-align: top;
    width: 20%;
    float: right;
}

#main.post .container .related ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main.post .container .related ul li {
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
}

#main.post .container .related ul li a {
    position: relative;
}

#main.post .container .related ul li img {
    width: 200px;
    height: 150px
}

#main.post .container .related ul li span {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 3px;
    padding: 2px 5px;
    color: #ffffff;
    background-color: rgba(95, 95, 95, 0.5);
    opacity: 1;
}

/*--------------------------------------------------------------
# UNDERSCORE STYLES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 14px;
    /*font-size: 1rem;*/
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: Raleway, Open Sans, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h5 {
    font-size: 16px;
}

h2 {
    font-size: 24px;
}
h1 .entry-title {
    display: none;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #3a89b4;
}

/*a:visited {*/
/*color: purple;*/
/*}*/

a:hover,
a:focus,
a:active {
    color: #3a89b4;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    display: block;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #3a89b4;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin: 0.28075em 0;
    width: 100% !important;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.28075em 0;
    text-align: right;
    font-size: 75%;
    color: rgba(125, 125, 125,1);
    font-style: italic;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*! jQuery UI - v1.12.1 - 2016-12-07
* http://jqueryui.com
* Includes: draggable.css, core.css, resizable.css, button.css, controlgroup.css, checkboxradio.css, dialog.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0); /* support: IE8 */
}

.ui-dialog-titlebar-close {
    content: '✕'; /* UTF-8 symbol */
}

.ui-button-icon.ui-icon.ui-icon-closethick, .ui-button-icon-space {
    display: block;
}

.ui-front {
    z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}

/* Icons
----------------------------------*/
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-icon-block {
    left: 50%;
    margin-left: -8px;
    display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-button {
    padding: .4em 1em;
    display: inline-block;
    position: relative;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Support: IE <= 11 */
    overflow: visible;
}

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
    text-decoration: none;
}

/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
    width: 2em;
    box-sizing: border-box;
    text-indent: -9999px;
    white-space: nowrap;
}

/* no icon support for input elements */
input.ui-button.ui-button-icon-only {
    text-indent: 0;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.ui-button.ui-icon-notext .ui-icon {
    padding: 0;
    width: 2.1em;
    height: 2.1em;
    text-indent: -9999px;
    white-space: nowrap;

}

input.ui-button.ui-icon-notext .ui-icon {
    width: auto;
    height: auto;
    text-indent: 0;
    white-space: normal;
    padding: .4em 1em;
}

/* workarounds */
/* Support: Firefox 5 - 40 */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.ui-controlgroup {
    vertical-align: middle;
    display: inline-block;
}

.ui-controlgroup > .ui-controlgroup-item {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.ui-controlgroup > .ui-controlgroup-item:focus,
.ui-controlgroup > .ui-controlgroup-item.ui-visual-focus {
    z-index: 9999;
}

.ui-controlgroup-vertical > .ui-controlgroup-item {
    display: block;
    float: none;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.ui-controlgroup-vertical .ui-controlgroup-item {
    box-sizing: border-box;
}

.ui-controlgroup .ui-controlgroup-label {
    padding: .4em 1em;
}

.ui-controlgroup .ui-controlgroup-label span {
    font-size: 80%;
}

.ui-controlgroup-horizontal .ui-controlgroup-label + .ui-controlgroup-item {
    border-left: none;
}

.ui-controlgroup-vertical .ui-controlgroup-label + .ui-controlgroup-item {
    border-top: none;
}

.ui-controlgroup-horizontal .ui-controlgroup-label.ui-widget-content {
    border-right: none;
}

.ui-controlgroup-vertical .ui-controlgroup-label.ui-widget-content {
    border-bottom: none;
}

/* Spinner specific style fixes */
.ui-controlgroup-vertical .ui-spinner-input {
    /* Support: IE8 only, Android < 4.4 only */
    width: 75%;
    width: calc(100% - 2.4em);
}

.ui-controlgroup-vertical .ui-spinner .ui-spinner-up {
    border-top-style: solid;
}

.ui-checkboxradio-label .ui-icon-background {
    box-shadow: inset 1px 1px 1px #ccc;
    border-radius: .12em;
    border: none;
}

.ui-checkboxradio-radio-label .ui-icon-background {
    width: 16px;
    height: 16px;
    border-radius: 1em;
    overflow: visible;
    border: none;
}

.ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
.ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
    background-image: none;
    width: 8px;
    height: 8px;
    border: 4px solid;
}

.ui-checkboxradio-disabled {
    pointer-events: none;
}

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
}

.ui-dialog .ui-resizable-n {
    height: 2px;
    top: 0;
}

.ui-dialog .ui-resizable-e {
    width: 2px;
    right: 0;
}

.ui-dialog .ui-resizable-s {
    height: 2px;
    bottom: 0;
}

.ui-dialog .ui-resizable-w {
    width: 2px;
    left: 0;
}

.ui-dialog .ui-resizable-se,
.ui-dialog .ui-resizable-sw,
.ui-dialog .ui-resizable-ne,
.ui-dialog .ui-resizable-nw {
    width: 7px;
    height: 7px;
}

.ui-dialog .ui-resizable-se {
    right: 0;
    bottom: 0;
}

.ui-dialog .ui-resizable-sw {
    left: 0;
    bottom: 0;
}

.ui-dialog .ui-resizable-ne {
    right: 0;
    top: 0;
}

.ui-dialog .ui-resizable-nw {
    left: 0;
    top: 0;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.ui-widget-content a {
    color: #333333;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}

.ui-widget-header a {
    color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
    /* We use html here because we need a greater specificity to make sure disabled
    works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #454545;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #cccccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none;
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px #b7dee0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #3a89b4;
    font-weight: normal;
    color: #ffffff;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: #003eff;
    background-color: #ffffff;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}

.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #5f3f3f;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #5f3f3f;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70); /* support: IE8 */
    font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35); /* support: IE8 */
    background-image: none;
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    width: 16px;
    height: 16px;
}

/* positioning */
.ui-icon-blank {
    background-position: 16px 16px;
}

.ui-icon-caret-1-n {
    background-position: 0 0;
}

.ui-icon-caret-1-ne {
    background-position: -16px 0;
}

.ui-icon-caret-1-e {
    background-position: -32px 0;
}

.ui-icon-caret-1-se {
    background-position: -48px 0;
}

.ui-icon-caret-1-s {
    background-position: -65px 0;
}

.ui-icon-caret-1-sw {
    background-position: -80px 0;
}

.ui-icon-caret-1-w {
    background-position: -96px 0;
}

.ui-icon-caret-1-nw {
    background-position: -112px 0;
}

.ui-icon-caret-2-n-s {
    background-position: -128px 0;
}

.ui-icon-caret-2-e-w {
    background-position: -144px 0;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px;
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
    background-position: -65px -32px;
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
    background-position: 1px -48px;
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.ui-icon-extlink {
    background-position: -32px -80px;
}

.ui-icon-newwin {
    background-position: -48px -80px;
}

.ui-icon-refresh {
    background-position: -64px -80px;
}

.ui-icon-shuffle {
    background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.ui-icon-folder-open {
    background-position: -16px -96px;
}

.ui-icon-document {
    background-position: -32px -96px;
}

.ui-icon-document-b {
    background-position: -48px -96px;
}

.ui-icon-note {
    background-position: -64px -96px;
}

.ui-icon-mail-closed {
    background-position: -80px -96px;
}

.ui-icon-mail-open {
    background-position: -96px -96px;
}

.ui-icon-suitcase {
    background-position: -112px -96px;
}

.ui-icon-comment {
    background-position: -128px -96px;
}

.ui-icon-person {
    background-position: -144px -96px;
}

.ui-icon-print {
    background-position: -160px -96px;
}

.ui-icon-trash {
    background-position: -176px -96px;
}

.ui-icon-locked {
    background-position: -192px -96px;
}

.ui-icon-unlocked {
    background-position: -208px -96px;
}

.ui-icon-bookmark {
    background-position: -224px -96px;
}

.ui-icon-tag {
    background-position: -240px -96px;
}

.ui-icon-home {
    background-position: 0 -112px;
}

.ui-icon-flag {
    background-position: -16px -112px;
}

.ui-icon-calendar {
    background-position: -32px -112px;
}

.ui-icon-cart {
    background-position: -48px -112px;
}

.ui-icon-pencil {
    background-position: -64px -112px;
}

.ui-icon-clock {
    background-position: -80px -112px;
}

.ui-icon-disk {
    background-position: -96px -112px;
}

.ui-icon-calculator {
    background-position: -112px -112px;
}

.ui-icon-zoomin {
    background-position: -128px -112px;
}

.ui-icon-zoomout {
    background-position: -144px -112px;
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-wrench {
    background-position: -176px -112px;
}

.ui-icon-gear {
    background-position: -192px -112px;
}

.ui-icon-heart {
    background-position: -208px -112px;
}

.ui-icon-star {
    background-position: -224px -112px;
}

.ui-icon-link {
    background-position: -240px -112px;
}

.ui-icon-cancel {
    background-position: 0 -128px;
}

.ui-icon-plus {
    background-position: -16px -128px;
}

.ui-icon-plusthick {
    background-position: -32px -128px;
}

.ui-icon-minus {
    background-position: -48px -128px;
}

.ui-icon-minusthick {
    background-position: -64px -128px;
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon-key {
    background-position: -112px -128px;
}

.ui-icon-lightbulb {
    background-position: -128px -128px;
}

.ui-icon-scissors {
    background-position: -144px -128px;
}

.ui-icon-clipboard {
    background-position: -160px -128px;
}

.ui-icon-copy {
    background-position: -176px -128px;
}

.ui-icon-contact {
    background-position: -192px -128px;
}

.ui-icon-image {
    background-position: -208px -128px;
}

.ui-icon-video {
    background-position: -224px -128px;
}

.ui-icon-script {
    background-position: -240px -128px;
}

.ui-icon-alert {
    background-position: 0 -144px;
}

.ui-icon-info {
    background-position: -16px -144px;
}

.ui-icon-notice {
    background-position: -32px -144px;
}

.ui-icon-help {
    background-position: -48px -144px;
}

.ui-icon-check {
    background-position: -64px -144px;
}

.ui-icon-bullet {
    background-position: -80px -144px;
}

.ui-icon-radio-on {
    background-position: -96px -144px;
}

.ui-icon-radio-off {
    background-position: -112px -144px;
}

.ui-icon-pin-w {
    background-position: -128px -144px;
}

.ui-icon-pin-s {
    background-position: -144px -144px;
}

.ui-icon-play {
    background-position: 0 -160px;
}

.ui-icon-pause {
    background-position: -16px -160px;
}

.ui-icon-seek-next {
    background-position: -32px -160px;
}

.ui-icon-seek-prev {
    background-position: -48px -160px;
}

.ui-icon-seek-end {
    background-position: -64px -160px;
}

.ui-icon-seek-start {
    background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
    background-position: -80px -160px;
}

.ui-icon-stop {
    background-position: -96px -160px;
}

.ui-icon-eject {
    background-position: -112px -160px;
}

.ui-icon-volume-off {
    background-position: -128px -160px;
}

.ui-icon-volume-on {
    background-position: -144px -160px;
}

.ui-icon-power {
    background-position: 0 -176px;
}

.ui-icon-signal-diag {
    background-position: -16px -176px;
}

.ui-icon-signal {
    background-position: -32px -176px;
}

.ui-icon-battery-0 {
    background-position: -48px -176px;
}

.ui-icon-battery-1 {
    background-position: -64px -176px;
}

.ui-icon-battery-2 {
    background-position: -80px -176px;
}

.ui-icon-battery-3 {
    background-position: -96px -176px;
}

.ui-icon-circle-plus {
    background-position: 0 -192px;
}

.ui-icon-circle-minus {
    background-position: -16px -192px;
}

.ui-icon-circle-close {
    background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.ui-icon-circle-check {
    background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30); /* support: IE8 */
}

.ui-widget-shadow {
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
}


/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/

/*MOBILE*/

@media only screen and (max-width: 1150px) {
    ul.tabs a li span.title {
        font-size: 1.25em;
    }
    ul.tabs li {
        width: 30%;
    }
    /*header#masthead.homepage, header#masthead.homepage.scrolled {*/
        /*padding: 10px;*/
        /*height: 60px;*/
    /*}*/

    /*header#masthead .logo {*/
        /*height: 40px;*/
        /*margin-top: 0;*/
        /*background: url('images/FINAL_logo_HORIZONTAL-01.png') no-repeat;*/
        /*background-size: contain !important;*/
        /*width: 90px;*/
    /*}*/
    nav#site-navigation {
        margin-right: 0;
    }
    #masthead nav#site-navigation ul li {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 992px) {
    section#infographic {
        display: none;
    }
    ul.tabs a li span.title {
        font-size: 1.15em;
    }
}

@media only screen and (max-width: 768px) and (min-width: 668px) {
    #main.post .container .sidebar {
        margin-left: 0;
    }
    #main.post .container .related {
        margin-right: 0;
    }
    section#what-is p, section#callouts p, section#getstarted p {
        max-width: 75%;
    }
    section#callouts .icon {
        width: 100px;
    }
    #hazard_popup {
        margin: 0 auto;
    }
    .callout {
        width: 40%;
        margin-top: 15px;
    }
    section#callouts .callout:first-of-type {
        margin-left: 0;
    }
    section#callouts .row {
        margin-bottom: 0;
    }
    section#quote p {
        padding: 0 20px;
    }
    section#infographic {
        display: none;
    }
    #post-347 .entry-content, #post-677 .entry-content {
        max-width: 75%;
        margin: 0 auto;
    }
    #primary.items {
        padding: 0 15px 15px 15px;
        display: inline-block;
        /*z-index: -1;*/
        /*position: relative;*/
    }
    /*#filter_button {*/
        /*display: inline-block;*/
        /*padding: 10px;*/
        /*float: right;*/
        /*border-radius: 2px;*/
        /*margin: 0 15px -50px 15px;*/
        /*text-transform: uppercase;*/
        /*font-weight: 700;*/
        /*width: auto;*/
        /*font-size: 1.25em;*/
        /*position: relative;*/
        /*z-index: 1000;*/
    /*}*/
    #filter_container {
        width: 100%;
        margin: 0 0 20px 0;
        vertical-align: top;
        padding: 0 0 200px 0;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        display: block !important;
    }
    #filter_container h2 {
        width: auto;
    }
    .hazard-button {
        padding: 15px;
        width: 20%;
        display: block;
    }
    .secondary .widget-area {
        vertical-align: top;
        margin: -51px 0;
        padding-top: 15px;
    }
    .aside {
        margin-top: -85px;
    }
    .widget {
        display: inline-block;
        width: 20%;
    }
    .widget-area section {
        margin: -100px 0;
        padding: 15px;
        vertical-align: top;
    }
    .filter_all {
        text-align: right;
        margin: 60px 0 0 0;
        float: right;
        padding: 15px;
        width: 20%;
    }
    .filter_all h2 a {
        font-size: 12px;
        padding: 10px;
    }
    #text-3 {
        padding: 15px;
    }
    .search_container article {
        height: 350px;
    }
    ul.tabs li {
        width: 35%;
    }
    div.tabs {
        width: 80%;
    }
    .footer-container {
        width:90%;
    }
    header#masthead.homepage, header#masthead.homepage.scrolled {
        padding: 10px;
        height: 60px;
    }

    header#masthead .logo {
        height: 40px;
        margin-top: 0;
        background: url('images/FINAL_logo_HORIZONTAL-01.png') no-repeat !important;
        background-size: contain !important;
        width: 90px;
    }
    nav#site-navigation {
        margin-right: 0;
    }
    #masthead nav#site-navigation ul li {
        margin-left: 10px;
    }
    .blog .site .site-content .bg_container {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 667px) {
    .blog .site .site-content .bg_container {
        padding-top: 0;
    }
    .filter_all h2 {
        width: auto !important;
    }
    a.download_pdf {
        display: none;
    }

    #logos{
        float: none;
        text-align: center;
    }
    #logos img {
        padding: 5px;
    }
    .scroll-down, .scroll-down-text {
        display: none;
    }
    .home section#hero {
        padding-top: 130px;
    }
    .home section#hero h1 {
        font-size: 42px;
    }

    .home section#hero p {
        width: 95%;
        margin: 0 auto;
        font-size: 1.15em;
    }

    section#quote .slick-slider .slick-prev:before, section#quote .slick-slider .slick-next:before {
        font-size: 24px;
    }
    .slick-slider .slick-prev {
        left: 10px;
    }

    .slick-slider .slick-next {
        right: 10px;
    }
    section#what-is p, section#callouts p, section#getstarted p {
        max-width: 95%;
    }

    section#what-is .row {
        margin-top: 0;
        margin-bottom: 0;
    }

    section#what-is h2, section#callouts h2 {
        padding: 0 0 20px 0;
    }

    section#quote p {
        font-style: italic;
        font-size: 18px;
        color: #e4e6d7;
        padding: 0 40px;
        margin: 0;
    }
    section#infographic {
        display: none;
    }
    section#callouts h2 {
        padding: 10px 0;
    }

    section#callouts .callout {
        margin: 20px 0 0 0;
        padding: 0;
        border: 2px solid #3a89b4;
    }

    section#callouts .callout .copy {
        width: 100%;
        display: block;
        vertical-align: top;
        margin: 0 auto;
        text-align: center;
        padding: 20px 20px;
    }
    .callout {
        width: 95%;
    }
    .callout .copy h4 {
        margin-top: 0;
    }

    section#callouts .callout:first-of-type {
        padding-right: 0;
        margin-left: 0;
        border: 2px solid #3a89b4;
    }

    section#callouts .icon {
        display: block !important;
        width: 150px;
        height: 150px;
        margin: 20px auto 0 auto;
        background-color: transparent;
    }
    section#callouts .row {
        text-align: center;
        margin: 0;
    }
    section#quote .slick-slider .slick-prev:before, section#quote .slick-slider .slick-next:before {
        font-size: 24px;
    }
    .slick-dotted.slick-slider{
        margin: 0 !important;
    }
    section#casestudy{
        height: 100%;
    }
    section#casestudy .featured-slick .featured-slide{
        height: 100%;
    }
    section#casestudy .blurb {
        padding: 20px 40px;
        color: #FFFFFF;
        width: 100%;
        position: relative;
        bottom: 7px;
        margin-left: 0;
        background-color: #989482;
    }
    section#getstarted a {
        width: 100%;
    }
    section#getstarted a:hover {
        width: 100%;
    }
    #primary.page{
        max-width: 1280px;
        padding: 0 20px;
        margin: 0 auto;
    }
    header#masthead.homepage, header#masthead.homepage.scrolled {
        padding: 10px;
        height: 60px;
    }

    header#masthead .logo {
        height: 40px;
        margin-top: 0;
        background: url('images/FINAL_logo_HORIZONTAL-01.png') no-repeat;
        background-size: contain !important;
    }
    .footer-container {
        width: 95%;
    }
    .footer-column-left {
        width: 100%;
        text-align: center;
    }
    .footer-column-right {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    header#masthead .logo.top {
        height: 40px;
        float: left;
        margin-top: 0;
        background: url('images/FINAL_logo_HORIZONTAL-01.png') no-repeat !important;
        background-size: contain !important;
    }
    nav#mobile-navigation button {
        margin-top: 10px;
    }

    nav#mobile-navigation {
        margin-top: 0;
        margin-right: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        z-index: 2001;
        float: none;
        display: block;
    }

    #masthead nav#mobile-navigation ul li {
        padding: 0;
        margin: 5px;
        float: none;
        top: 0;
        width: 10px;
    }

    .ui-dialog{
        width: 100% !important;
    }
    #filter_container section.widget {
        height: 250px;
    }
    #filter_container {
        width: calc(100% - 30px);
        float: none;
        margin: 15px;
        border: 1px solid black;
        padding: 0;
        display: block;
    }
    .posts-layout{
        float: none;
        width: 100%;
    }

    h3.filter_header {
        display: none;
    }
    #filter_button{
        display: block;
        padding: 15px;
        border-radius: 2px;
        margin: 15px;
        text-transform: uppercase;
        font-weight: 700;
        width: auto;
        font-size: 1.25em;
    }
    #primary.content-area.items {
        display: inline-block;
        padding: 15px;
    }
    aside.secondary {
        display: flex;
        justify-content: space-between;
    }

    aside.secondary {
        display: block;
        justify-content: space-between;
    }

    #filter_container section.widget {
        height: auto;
    }
    .widget-area section {
        vertical-align: top;
        display: inline-block;
        margin: 25px 0 0 25px;
    }
    #text-3 {
        width: 100%;
    }
    ul.tabs {
        margin: 0;
        padding: 0;
        width: 100%;
        float: none;
    }

    ul.tabs li {
        width: 50%;
        padding: 5px;
    }

    ul.tabs a.active li {
        padding: 5px;
    }

    div.tabs{
        height: auto;
    }

    div.tabs .spacer{
        width: 100%;
        float: none;
        height: auto;
    }
    .bg_container {
        margin: 0;
    }
    .search_container {
        margin: 0;
    }

    .search_container article {
        height: auto;
        float: none;
        margin: 0 auto;
    }

    .search_container .row {
        display: block;
    }
    #main.post .hero {
        margin-bottom: 20px;
    }
    #main.post .container .sidebar img.axon {
        display: block;
        margin: 20px auto;
    }

    #main.post .container .sidebar .pdf_button {
        width: 100%;
    }
    #main.post .container .sidebar,
    #main.post .container .related {
        float: none;
        width: 100%;
        margin: 0;
    }

    #main.post .container.strategy{
        display: flex;
        flex-direction: column;
    }

    #main.post .container .copy{
        order: 1;
    }

    #main.post .container .sidebar{
        order: 2;
    }

    #main.post .container .related {
        order: 3;
    }

    #main.post .container .copy {
        float: none;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .main-navigation ul {
        display: none;
        position: fixed;
        z-index: -1;
        width: 100%;
        right: 0;
        background-color: rgba(228,230,215,0.95);
        padding: 60px 0 20px 0;
        text-align: right;
        -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
        -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
    }

    .main-navigation li {
        float: none;
        padding: 10px 20px;
        position: relative;
        font-size: 20px;
    }

    nav ul li a {
        font-weight: 700;
        font-size: 80%;
        color: #696969;
        text-transform: uppercase;
    }
    nav ul li a:focus {
        text-decoration:underline;
    }

    .nav-button-home {
        background-color: #3a89b4;
        color: white;
        font-weight: 300;
        padding: 10px;
    }
    a.hazard_button{
        /*display: none;*/
    }
    #hazard_popup {
        width: 92%;
        margin: 0 auto;
        padding: 15px;
        left: 0;
    }
    #hazard_popup h2 {
        margin: 0 0 15px;
    }
    #hazard_popup.opened {
        margin: 0;
    }
    .hazard {
        width: 100%;
        margin: 5px 0;
    }
    .select-container {
        background-color: transparent;
    }
}

@media only screen and (max-width: 332px) {
    ul.tabs a li span.title {
        font-size: 1.25em;
    }
}